
<div class="container">
  <div class="divide"></div>
  <div class="row">
    <div class="col-sm text-center">
      <p>
        <small>© Designed and Coded by <a href="{% link about.html %}">Pengkai Liao</a></small>
      </p>
    </div>
  </div>
  <div class="space"></div>
</div>

<!-- Original footer -->
<!-- <div class="py-5 border-top">
  <div class="container">

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
          <li>
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
            <li>
              <a href="mailto:{{ site.email }}">
                {{ site.email }}
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>

      <div class="col-sm text-right">
        <p>{{- site.description | escape -}}</p>
      </div>

    </div>

  </div>
</div> -->
