---
---

/* *******************
/* Global variables
/* ******************/
$main-color: #45BBF6;

.progress-bar {
    background-color: $main-color;
}

// Remove card shadow
.card {
    border: none;
    box-shadow: none;
}

.card:hover {
    box-shadow: none;
    transform: none;
}

.card h4 {
    color: $main-color;
}
