---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "variables";
@import "bootstrap/bootstrap";
@import "syntax-highlighting";
@import "bootstrap-4-jekyll/bootstrap-4-jekyll";
@import "bootstrap_customization";

/* *******************
/* Global variables
/* ******************/
$spacer: 64px;
$bg-grey: #fbfbfb;
// $bg-grey: rgba(241,244,246,1.0);


// Adapt page width
@media (min-width: 576px) { .container {max-width: 540px;} }
@media (min-width: 768px) { .container {max-width: 720px;} }
@media (min-width: 996px) { .container {max-width: 960px;} }
@media (min-width: 1200px) { .container {max-width: 1180px;} }


/* *******************
/* Project Page
/* ******************/

h1 {
    font-size: 4.5rem;
}

span.gray {
    color: $gray-500;
}

.work-container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

section {
    width: 100%;
    padding: 128px 0px;
}

.grey {
    background-color: $bg-grey;
}

header {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}

.cover-img {
    width: auto;
    height: 100%;
    position: absolute;
    right: -50%;
}

/* *******************
/* Index.html
/* ******************/
.space {
    height: 100px;
}
.divide {
    height: 32px;
}
.divide-sm {
    height: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

body {
    line-height: 1.85rem;
}

// Introduction font
.introduction {
    font-size: 1.25rem;
    line-height: 2.25rem; 
}
span.h1 {
    font-weight: 700;
    font-size: 2.5rem;
}


// Progress bar
.progress {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4px;
    z-index: 999;
    overflow: visible;
}
.progress-bar {
    // box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
}


// icon
a {
    color: #888;
    text-decoration: underline;
    transition: color .2s;
}

a:hover {
    // color: $primary;
    color: $gray-500;
    text-decoration: underline;
}

a.icon {
    font-size: 28px;
    padding-right: 16px;
}

a.icon.github:hover {
    color: #333;
}

a.icon.linkedin:hover {
    color: #2867B2;
}

.col {
    margin-bottom: 16px;
}


// Card 
// shadow effect
.card {
    cursor: pointer;
    transition: all .3s ease;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .15);
    overflow: hidden;
    margin: 0 ($spacer * .25) ($spacer * .25) ($spacer * .25);
}

.card:hover {
    box-shadow: 0 8px 15px 3px rgba(0, 0, 0, .17);
    // transform: scale(1.01);
}
.card:active {
    box-shadow: 0 1px 10px 3px rgba(0, 0, 0, .13);
    transform: scale(0.99);
}

// about avatar
img.avatar {
    padding-left: $spacer * .25;
    padding-right: $spacer * .25;
}

// Nav
.navbar {
    padding-left: 0;
    padding-right: 0;
}

.nav-link {
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
}

.flex-column>.nav-item>.nav-link {
    font-size: 1.3rem;
}

.nav-brand {
    font-size: 1.3rem;
}

// Work backgroung
.bg-grey {
    background-color: $bg-grey;
}


// Work fixed cover
.fixed-cover {
    width: 100%;
    height: 360px;
    overflow: hidden;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: 100%;
    // background-attachment: fixed;
    // transform-style: preserve-3d;
    // overflow-y: hidden;
    // perspective: 1px;
}
// .fixed-cover-img {
//     width: 100%;
//     transform: translateZ(-2px) scale(3);
// }


.grey-bg {
    background-color: #f8f8f8;
}