---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "variables";
@import "bootstrap/bootstrap";
@import "syntax-highlighting";
@import "bootstrap-4-jekyll/bootstrap-4-jekyll";
@import "bootstrap_customization";

/* *******************
/* Global variables
/* ******************/
$spacer: 64px;
$bg-grey: grey;


// Adapt page width
@media (min-width: 576px) { .container {max-width: 540px;} }
@media (min-width: 768px) { .container {max-width: 720px;} }
@media (min-width: 996px) { .container {max-width: 960px;} }
@media (min-width: 1200px) { .container {max-width: 1180px;} }

// Color of 'a' tag

/* *******************
/* Index.html
/* ******************/
.space {
    height: 100px;
}
.divide {
    height: 32px;
}
.divide-sm {
    height: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}


// icon
a {
    color: #888;
    text-decoration: underline;
    transition: color .2s;
}

a:hover {
    color: $primary;
    text-decoration: underline;
}

a.icon {
    font-size: 28px;
    padding-right: 16px;
}

a.icon.github:hover {
    color: #333;
}

a.icon.linkedin:hover {
    color: #2867B2;
}

.col {
    margin-bottom: 16px;
}


// Card 
// shadow effect
.card {
    cursor: pointer;
    transition: all .3s ease;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .15);
    overflow: hidden;
    margin: 0 ($spacer * .25) ($spacer * .25) ($spacer * .25);
}

.card:hover {
    box-shadow: 0 8px 15px 3px rgba(0, 0, 0, .17);
    transform: scale(1.01);
}

// about avatar
img.avatar {
    padding-left: $spacer * .25;
    padding-right: $spacer * .25;
}

// Nav
.navbar {
    padding-left: 0;
    padding-right: 0;
}

.nav-link {
    text-decoration: none;
    padding-left: 0;
    padding-right: 0;
}

.flex-column>.nav-item>.nav-link {
    font-size: 1.3rem;
}

.nav-brand {
    font-size: 1.3rem;
}

// Work backgroung
.bg-grey {
    background-color: $bg-grey;
}