---
---

/* *******************
/* Global variables
/* ******************/
// $main-color: #78c2ad;
$main-color: #FFE400;


// Remove card shadow
.card {
    border: none;
    box-shadow: none;
}

.card:hover {
    box-shadow: none;
    transform: none;
}

.card h4 {
    // color: $main-color;
}