---
layout: default
---

<nav class="navbar navbar-expand">
    <a class="nav-link" href="javascript: history.back()">Pengkai Liao</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% link about.html %}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% link /assets/PengkaiLiao_Resume.pdf %}" target="_blank">Resume</a>
        </li>
    </ul>
</nav>

<article>

    <header>

        <div class="divide"></div>
        <div class="divide"></div>
        <div class="divide"></div>
        <div class="divide"></div>
        <div class="divide"></div>
        <div class="divide"></div>

        <div class="row">
            <div class="col-md-8 col-sm-12 d-flex">
                <div class="align-self-end">
                    <h1>{{ page.title | escape }}</h1>
                    <p>{{ page.desc | escape }}</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <strong>Method</strong>
                <p> {{ page.method }}</p>
                <strong>Tools</strong>
                <p> {{ page.tools }}</p>
                <strong>Duration</strong>
                <p> {{ page.duration }}</p>
                <strong>Team</strong>
                <p> {{ page.team }}</p>
            </div>
        </div>

        <div class="divide"></div>
        <div class="divide"></div>
        <div class="divide"></div>
        <div class="divide"></div>

        <!-- <div class="fixed-cover">
            <img src="{{ page.cover }}" class="img-fluid fixed-cover-img" alt="Responsive image" />
        </div> -->
        <img src="{{ page.cover }}" class="img-fluid fixed-cover-img" alt="Responsive image" />

    </header>

    <div class="divide"></div>
    <div class="divide"></div>
    <div class="divide"></div>

    <section>
        {{ content }}
    </section>

</article>
