---
layout: default
---

<nav class="navbar">
    <div class="nav-item">
        <a class="nav-link nav-brand" href="{% link index.html %}">Pengkai Liao</a>
    </div>
    <div class="nav-item row">
        <div class="col">
            <a class="nav-link" href="{% link about.html %}">About</a>
        </div>
        <div class="col">
            <a class="nav-link" href="{% link /assets/PengkaiLiao_Resume.pdf %}" target="_blank">Resume</a>
        </div>
    </div>
</nav>

<article>

    <header>
        <img src="{{ page.cover }}" class="img-fluid" alt="Responsive image" />

        <div class="divide"></div>

        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h1>{{ page.title | escape }}</h1>
                <p>{{ page.desc | escape }}</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <strong>Method</strong>
                <p> {{ page.method }}</p>
                <strong>Tools</strong>
                <p> {{ page.tools }}</p>
                <strong>Duration</strong>
                <p> {{ page.duration }}</p>
                <strong>Team</strong>
                <p> {{ page.team }}</p>
            </div>
        </div>
    </header>

    <div class="divide"></div>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
            <hr>
        </div>
    </div>
    <div class="divide"></div>

    <section>
        {{ content }}
    </section>

</article>
